---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - ""
  resources:
  - serviceaccounts
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - apps
  resources:
  - daemonsets
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - rsct.ibm.com
  resources:
  - rscts
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - rsct.ibm.com
  resources:
  - rscts/finalizers
  verbs:
  - update
- apiGroups:
  - rsct.ibm.com
  resources:
  - rscts/status
  verbs:
  - get
  - patch
  - update
